.owl-theme {
    .owl-controls {
        .owl-buttons div{
            color: @text-color;
            background: @baseContrast;
        }
        .owl-page{
            span{
                background: @baseContrast;

                &.owl-numbers{
                    color: @text-color;
                }
            }
        }
    }
}